__pycache__
*.spec
NazarickUpdater Shortcut.lnk
test.bat
data.json
.vscode
dist
build
_update_tmp
temp
keystore
.tufup-repo-config
src/assets/Valheim
src/assets/Minecraft
src/assets/Fallout76
.env
logs
tufup